/* Homepage (1240Grid) */

/* Auto layout */
.auto-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    
    position: relative;
    width: 1920px;
    height: 7710px;
}

/* Main Background */
.main-background {
    background: #FFFFFF;
    border-radius: 5px;
}


/* Top Bar */
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 7px 340px;
    gap: 16px;
    isolation: isolate;
    width: 1920px;
    height: 34px;
    background: #051613;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 13;
}

/* Pattern */
.pattern {
    position: absolute;
    width: 480px;
    height: 480px;
    right: 0px;
    bottom: -38px;
    opacity: 0.1;
    border-radius: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

/* pattern 1 */
.pattern-1 {
    position: absolute;
    width: 1250px;
    height: 833px;
    left: calc(50% - 1250px/2);
    top: calc(50% - 833px/2 - 0.5px);
}


/* Vector */
.vector {
    position: absolute;
    left: -2.61%;
    right: -6.97%;
    top: -12.86%;
    bottom: -6.8%;
    background: #FFC781;
}

/* Vector */
.vector-1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}


/* Left Content */
.left-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 678px;
    height: 20px;
    flex: none;
    order: 1;
    flex-grow: 1;
    z-index: 1;
}

/* Located in Colorado Springs, Colorado */
.location {
    width: 220px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 180%;
    color: #DECCC8;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Div */
.div {
    width: 1px;
    height: 14px;
    background: #DECCC8;
    opacity: 0.4;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Privacy Notice for Colorado Residents */
.privacy-notice {
    width: 217px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 180%;
    text-decoration-line: underline;
    color: #DECCC8;
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* Phone */
.phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;
    width: 165px;
    height: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

/* time 1 */
.time-1 {
    width: 14px;
    height: 14px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Vector */
.vector-2 {
    position: absolute;
    left: 9.38%;
    right: 9.38%;
    top: 9.38%;
    bottom: 9.38%;
    background: #DECCC8;
}

/* Mon-Fri 9:00AM - 3:00PM */
.schedule {
    width: 145px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 180%;
    color: #DECCC8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Rectangle 3 */
.rectangle-3 {
    width: 1px;
    height: 14px;
    background: #DECCC8;
    opacity: 0.4;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

/* Phone */
.phone-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;
    width: 213px;
    height: 20px;
    flex: none;
    order: 4;
    flex-grow: 0;
    z-index: 4;
}

/* mail 1 */
.mail-1 {
    width: 14px;
    height: 14px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Vector */
.vector-3 {
    position: absolute;
    left: 6.25%;
    right: 6.25%;
    top: 15.62%;
    bottom: 15.62%;
    background: #DECCC8;
}

/* consults@resolvedlawgroup.com */
.email {
    width: 193px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 180%;
    text-decoration-line: underline;
    color: #DECCC8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Rectangle 2 */
.rectangle-2 {
    width: 1px;
    height: 14px;
    background: #DECCC8;
    opacity: 0.4;
    flex: none;
    order: 5;
    flex-grow: 0;
    z-index: 5;
}

/* Phone */
.phone-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;
    width: 102px;
    height: 20px;
    flex: none;
    order: 6;
    flex-grow: 0;
    z-index: 6;
}

/* call 1 */
.call-1 {
    width: 14px;
    height: 14px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Vector */
.vector-4 {
    position: absolute;
    left: 6.27%;
    right: 6.25%;
    top: 6.25%;
    bottom: 6.25%;
    background: #DECCC8;
}

/* ‪(719) 256-0236‬ */
.phone-number {
    width: 82px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 180%;
    text-decoration-line: underline;
    color: #DECCC8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Navigation Bar */
.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 340px;
    gap: 24px;
    width: 1920px;
    height: 86px;
    background: #09342E;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 12;
}

/* Logo */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 164px;
    height: 54px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Group */
.group {
    width: 54px;
    height: 54px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Union */
.union {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 0px;
    top: 0px;
    background: linear-gradient(102.85deg, #FFD2A2 0%, #FEBC60 100%);
}
